{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-ms-12"></div>
			<div class="col-md-6 col-ms-12 bg-light">
				<h1>Register</h1>

				{{ form_start(registrationForm) }}
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
				{{ form_row(registrationForm.agreeTerms) }}

				<button type="submit" class="btn">Register</button>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	</div>
{% endblock %}
