<nav class=" navbar-expand-lg fixed-top navbar-light" style="background-color: white;">
	<div class="text-center my-3">
		<a class="navbar-brand" href="{{ path ("home")}}">
			<img src="/img/logo/logo-bleu.png" style="max-width:400px" alt="">
		</a>
	</div>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor01">
		<ul class="navbar-nav m-auto" >
			<li class="nav-item">
				<a class="nav-link " href="{{ path ('home')}}">ACCUEIL</a>
			</li>
			{# <li class="nav-item">
				<a class="nav-link " href="">EQUIPE</a>
			</li> #}
			<li class="nav-item">
				<a class="nav-link " href="">ACTUALITES</a>
			</li>
			<li class="nav-item">
				<a class="nav-link " href="{{ path ('show_projet', {'row':3})}}">PROJETS</a>
			</li>
			<li class="nav-item">
				<a class="nav-link " href="{{ path ('show_developpement', {'row':3})}}">DEVELOPPEMENTS</a>
			</li>
			<li class="nav-item">
				<a class="nav-link " href="">CONTACT</a>
			</li>

			<li class="nav-item">
				<a class="nav-link " href="{{path("app_login")}}"><i class="fas fa-sign-in-alt h5"></i>

				</a>
			</li>
		</ul>
		{# <form class="form-inline my-2 my-lg-0" action="">
							<input class="form-control mr-sm-2" type="text" name="word" placeholder="chercher" id="search">
							<i class="fas fa-search text-light"></i>
						</form> #}
	</div>
</nav>

